{% macro table(result) %}
    <table class="table">
        <tr>
            <th>token</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Status</th>
            <th>Próba dotarcia</th>
            <th>Uwagi po rozmowie</th>
            <th>Rezerwacja</th>
            <th>Ankieta&raquo;</th>
        </tr>
        {% for i in 1..(result.num_rows) %}
        {% set contact = result.fetch_assoc() %}
        <tr>
            <td>{{ contact.token }}</td>
            <td>{{ contact.firstname }}</td>
            <td>{{ contact.lastname }}</td>
            <td>{{ contact.status }}</td>
            <td>{{ contact.attempt }}</td>
            <td>{{ contact.notes }}</td>
            <td>{{ contact.reserved }}</td>
            {# link do reserve przekazujący tokena w GECIE #}
            <td><a href="{{ urlFor('contact_reserve') }}?token={{ contact.token }}">Ankieta&raquo;</a></td>
        </tr>
        {% endfor %}
    </table>
{% endmacro %}
