{% extends "_layout.html" %}

{% block title %}Panel{% endblock %}

{% block content %}
<!-- rysowanie wykresów start -->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["gauge"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    // rozmowy przeprowadzone/h
    var succeeded = google.visualization.arrayToDataTable([
      ['Label', 'Value'],
      ['', 0]
    ]);

    var succeeded_options = {
      width: 250, height: 250,
      redFrom: 18, redTo: 20,
      yellowFrom: 15, yellowTo: 18,
      minorTicks: 5, max: 20
    };

    // wybranych rekordów/h
    var tries = google.visualization.arrayToDataTable([
      ['Label', 'Value'],
      ['', 0]
    ]);

    var tries_options = {
        width: 250, height: 250,
      redFrom: 35, redTo: 40,
      yellowFrom:30, yellowTo: 35,
      minorTicks: 10, max: 40
    };

    // pozostało do przedzwonienia
    var left = google.visualization.arrayToDataTable([
      ['Label', 'Value'],
      ['', 0]
    ]);

    var left_options = {
        width: 250, height: 250,
     // redFrom: 26, redTo: 30,
     // yellowFrom:20, yellowTo: 26,
     minorTicks: {{ user.data.contacts_ticks }}, //obliczenie ile powinno być kreseczek
      max: {{ user.data.contacts }} //wstawienie ilości kontaktów do przedzwonienia
    };

    // średni czas rozmowy
    var time = google.visualization.arrayToDataTable([
      ['Label', 'Value'],
      ['', 0]
    ]);

    var time_options = {
        width: 250, height: 250,
      greenFrom: 0, greenTo: 10,
      minorTicks: 15, max: 30
    };

    var succeeded_chart = new google.visualization.Gauge(document.getElementById('succeeded_div'));
    succeeded_chart.draw(succeeded, succeeded_options);
    var tries_chart = new google.visualization.Gauge(document.getElementById('tries_div'));
    tries_chart.draw(tries, tries_options);
    var left_chart = new google.visualization.Gauge(document.getElementById('left_div'));
    left_chart.draw(left, left_options);
    var time_chart = new google.visualization.Gauge(document.getElementById('time_div'));
    time_chart.draw(time, time_options);

    // ustawianie wartości wykresów po sekundzie - dzięki temu widać animację
    setTimeout(function() {
      succeeded.setValue(0, 1, {{ user.data.succeeded }}); //wstawienie wartości pobranej z bazy
      succeeded_chart.draw(succeeded, succeeded_options);
    }, 500);
    setTimeout(function() {
      tries.setValue(0, 1, {{ user.data.tries }}); //wstawienie wartości pobranej z bazy
      tries_chart.draw(tries, tries_options);
    }, 500);
    setTimeout(function() {
      left.setValue(0, 1, {{ user.data.contacts - user.data.contacts_left }}); //obliczenie ile kontaktów przedzwoniono
      left_chart.draw(left, left_options);
    }, 500);
    setTimeout(function() {
      time.setValue(0, 1, {{ user.data.avg_time }}); // średni czas
      time_chart.draw(time, time_options);
    }, 500);
  }

</script>
<!-- rysowanie wykresów end -->




<h1>Witaj {{ user.login }}</h1>
<div style="display: inline-block; text-align: center">
    <div id="succeeded_div" ></div>
    <p>Przeprowadzonych/h</p>
</div>
<div style="display: inline-block; text-align: center">
    <div id="tries_div" ></div>
    <p style="text-align: center">Wybranych/h</p>
</div>
<div style="display: inline-block; text-align: center">
    <div id="left_div" ></div>
    <p>Przedzwoniono</p>
</div>
<div style="display: inline-block; text-align: center">
    <div id="time_div" ></div>
    <p>Śr. czas rozmowy (m)</p>
</div>


<p style="clear: both">
    <a class="btn btn-primary btn-lg" role="button" href="{{ urlFor('contact') }}">Pobierz rekord &raquo;</a>
    <a class="btn btn-primary btn-lg" role="button" href="{{ urlFor('contact_search_form') }}">Wyszukaj rekord &raquo;</a>
    <a class="btn btn-primary btn-lg" role="button" href="{{ urlFor('contact_rescheduled') }}">Przełożone rozmowy &raquo;</a>
    <a class="btn btn-primary btn-lg" role="button" href="{{ urlFor('contact_left') }}">Nieprzedzwonione kontakty &raquo;</a>
</p>


{% endblock %}
