/*** insert creates survey ***/

SET @sid = 666; -- survey ID - IN int(11)
SET @ownerId = 1; -- owner_id - IN int(11)
SET @ownerName = 'Administrator'; -- owner name - IN varchar(50)
SET @ownerEmail = 'admin@admin.pl'; -- owner email - IN varchar(254)

SET @title = 'test';-- surveyls_title - IN varchar(200)
SET @description  = 'desc test'; -- surveyls_description - IN text
SET @welcomeText = 'Hello Test01'; -- surveyls_welcometext - IN text





/*** insert to lang settings table ***/


/*** insert default question groups ***/
INSERT INTO lime_groups(
  sid
  ,group_name
  ,group_order
  ,description
  ,language
  ,randomization_group
  ,grelevance
) VALUES (
  @sid -- sid - IN int(11)
  ,'Pole przed rozmową' -- group_name - IN varchar(100)
  ,0 -- group_order - IN int(11)
  ,''  -- description - IN text
  ,'pl' -- language - IN varchar(20)
  ,'' -- randomization_group - IN varchar(20)
  ,''  -- grelevance - IN text
);

-- get inserted gid
SELECT @gid := gid FROM lime_groups WHERE sid = @sid;

/*** insert default questions ***/

-- get qid of status question 
SELECT @statusQid := qid FROM lime_questions WHERE gid = @gid AND title = 'CC04';

-- insert question with relevance. this question is dependent on status answer
INSERT INTO lime_questions(
   parent_qid  ,sid  ,gid  ,type  ,title  ,question  ,preg  ,help  ,other  ,mandatory  ,question_order  ,language  ,scale_id  ,same_default  ,relevance
) VALUES 
(0, @sid, @gid, 'D', 'CC11', 'Na kiedy przełożona?', '', '', 'N', 'Y', 4, 'pl', 0, 0, CONCAT('((', @sid, 'X', @gid, 'X', @statusQid, '.NAOK == "A2"))'));

-- get qid of attempt question 
SELECT @attemptQid := qid FROM lime_questions WHERE gid = @gid AND title = 'CC07';


/*** insert answers ***/


-- get qid of contact date question and reschedule date question
SELECT @contactDateQid := qid FROM lime_questions WHERE gid = @gid AND title = 'CC00';
SELECT @rescheduleDateQid := qid FROM lime_questions WHERE gid = @gid AND title = 'CC11';

/*** insert date formats ***/
INSERT INTO lime_question_attributes(
   qid
  ,attribute
  ,value
) VALUES 
(@contactDateQid, 'date_format', 'dd.mm.yyyy HH:MM'),
(@rescheduleDateQid, 'date_format', 'dd.mm.yyyy HH:MM')

